***routes.py***
@app.route("/modificar/<int:id>", methods=["GET", "POST"])
def modifica(id):
    if request.method == "GET":
        registro_definitivo = select_by(id)
            
        if registro_definitivo:
            return render_template("update.html", registro=registro_definitivo)
        else:
            return redirect(url_for("index")) 
       
    else:
        errores = validaFormulario(request.form)

        if not errores:
            update_by([id,request.form['date'],request.form['concept'],request.form['quantity']])

            return redirect(url_for("index"))
        else:
                   
            return render_template("update.html", pageTitle="Modificar", msgErrors=errores, registro=[id,request.form['date'],request.form['concept'],request.form['quantity']])

***models.py***
def update_by(registro_mod):
    fichero_old = open(MOVIMIENTOS_FILE, "r")
    fichero = open(NEW_FILE, "w", newline="")
    csvReader = csv.reader(fichero_old, delimiter=",", quotechar='"')
    csvWriter = csv.writer(fichero, delimiter=",", quotechar='"')

    for registro in csvReader:
        if registro[0] == str(registro_mod[0]):
            csvWriter.writerow(registro_mod)    
        else:
            csvWriter.writerow(registro)

    fichero_old.close()
    fichero.close()

    os.remove(MOVIMIENTOS_FILE)
    os.rename(NEW_FILE, MOVIMIENTOS_FILE)
***update.html***
{% extends "base.html" %}

{% block pageContent %}
            <h1>Listado de Ingresos-Gastos</h1>
            <form action="/modificar/{{registro[0]}}" method="post">
                <label for="date">Fecha:</label>
                <br>
                <input type="date" name="date" id="date" value="{{ registro[1] }}" required >
                <br><br>

                <label for="concept"> Concepto:</label>
                <br>
                <input type="text" name="concept" id="concept"  value="{{ registro[2] }}" >

                <br><br>

                <label for="quantity">Cantidad:</label>
                <br>
                <input type="number" name="quantity" id="quantity"  step="0.01"  value="{{ registro[3] }}" >

                <br><br>

                <input type="submit" value="modificar">


            </form>
            
            <p> <a href="/"> Volver</a>  </p> 
            <article class="errores">
                <ul>
                        {% for error in msgErrors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
        </article>
{% endblock %} 