{% extends "base.html" %}

{% block pageContent %}    
        <h1>Listado de Ingresos-Gastos</h1>
        <h2>Un simulacro de contabilidad</h2>

        
        <table>
            <thead>
                <tr>
                    
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in moviments %}
                <tr>
                    
                    <td>{{ registro[1] }}</td><!--fecha-->
                    <td>{{ registro[2] }}</td><!--concepto-->
                    <td>{{ registro[3] }} €</td><!--cantidad-->
                    <td>
                        <a href="/borrar/{{ registro[0] }}">Borrar</a>
                        <a href="/modificar/{{ registro[0] }}">Modificar</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>  
        <a href="/nuevo">Añadir</a><!--es lo mismo que si ponemos http://localhost5001/-->
{% endblock %}