{% extends "base.html" %}
{% block pageContent %}
    <h1>Alta Ingresos-Gastos</h1>
    <form action="/nuevo" method="post">
        <label for="date">Fecha</label>
        <input type="date" name="date" id="date" value = "{{ dataForm.date }}" required>

        <label for="concept">Concepto: </label>
        <input type="text" name="concept" id="concept" value = "{{ dataForm.concept }}">

        <label for="quantity">Cantidad</label>
        <input type="number" name="quantity" id="quantity" placeholder="Introduce ingreso o gasto" step="0.01" value = "{{ dataForm.quantity }}">

        <input type="submit" value="Aceptar">

    </form>
    <article class="errores">
        <ul>
            
            {% for error in msgError %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </article>
    
    <a href="/">Volver</a>
{% endblock %}